streamlit==1.38.0
pandas<2.2.0
pdfplumber
reportlab
openpyxl
requests
beautifulsoup4
geopy
gspread
gspread-dataframe
google-auth
folium
streamlit-folium
qrcode
pillow
streamlit-js-eval
st-gsheets-connection
